

.btn-wrapper{
    height: 4em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: lighter;
    background-color: #cdd2e9;
    color:rgb(109, 107, 107);
    flex:1;
    outline:1px solid #888;
}


.oper{
    background-color: #fe9241;
    color:white;
}